* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Poppins';
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.location {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.temperature {
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.temperature span {
    font-size: 22px;
    padding-left: .8em;
}